.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

h1 {
    text-align: center;
}

button {
    cursor: pointer;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(48, 180, 236);
    display: block;
    margin: 1rem 1rem;
}

button:hover {
    border: 2px solid grey;
    box-shadow: 0 0 2px 2px rgb(241, 248, 249);
    background-color: rgb(187, 142, 21);
}

.table-data {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    font-size: 20px;
    background-color: white;    
}